<%- include("partials/header") -%>

<h1>About</h1>

<p> Firstly, thank you for visiting our blog. I am <span class="name">Nikhil</span> from Delhi, India. I have lived in Delhi since childhood. I love experiencing new cultures, traditions, places and most importantly food.



My full-time job is working as an Information Security Consultant in the <span class="name">SV Tech Company</span>. When I am not working, I explore new places to escape the stress of my work and visit new restaurants to satisfy my taste bud cravings.



I love reading books, listening to audio-books, and am a huge fan of organizing everything. I enjoy spontaneity in my organized schedule while traveling. ;-)

<br>
<br>

Coming to my good old friend Sam, an avid news-reader and an expert in almost every IT topic, was inspired to travel and experience the culture, the restrictions, and what makes a country or a city unique & great in the recent years. He is born & brought up in U.P. and has been residing in Delhi for the last 7 years. His full-time job is also working as an app Devloper in the <span class="name">Kube</span> IT company.

He loves reading history, autobiography, and is a strong advocate of adopting technology heavily in making lives easier. In his free time, he fancies playing video games and Watch <abbr title="DragonBall-Z">Anime</abbr>. His weakness is his Macbook. ;-)


We can never be full-time travelers. We chose a work-life where we get to travel frequently and work remotely often. This allows us to explore our passion for traveling while still ensuring that we are fulfilling our duties towards our family.

We travel in pairs or we go to places solo. The blogs would be written from both of our perspectives & experiences.

Your support would be greatly appreciated on any constructive feedback that you have for us to improve our blogging skills. Learning can happen anywhere. And we learn more when we collaborate.

<br>
<span class="name">Thank you!</span>
 </p>


<img class="btn btn-lg" src="css/SVtech.jpg" alt="Svtech-img">
<img class="btn btn-lg" src="css/kube.jpg" alt="au-img">


<%- include("partials/footer") -%>
