<%- include("partials/header") -%>

      <h1>Create a New Post :</h1>

      <form class="" action="/compose" method="post">

            <div class="form-group">

                  <label>Title :</label>

                  <input required class="form-control" type="text" name="postTitle" value="" autocomplete="off">
            <br>
                  <label>Content :</label>

                  <textarea class="form-control" name="postBody" rows="6" cols="30" autofocus></textarea>
            </div>
            <button type="submit" class="btn btn-info" name="publishButton">Publish</button> 

      </form>

<%- include("partials/footer") -%>
